.container {
  text-align: center;
  margin-top: 50px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.count {
  font-size: 24px;
}